.scrolling-text {
	animation: moveSlideshow 8s linear infinite;
}

@keyframes moveSlideshow {
	0% {
		transform: translateX(100%);
	}
  100% {
    transform: translateX(-100%);
  }
}

.hidden {
	display: none !important;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: auto;
}

.form-focus {
	border-bottom: 1px solid lighten($purple, 25%) !important;
}
