.scrolling-text {
	animation: moveSlideshow 8s linear infinite;
}

@keyframes moveSlideshow {
	0% {
		transform: translateX(100%);
	}
  100% {
    transform: translateX(-100%);
  }
}

.hidden {
	display: none !important;
}
