.notification.hidden
  %button.close{aria: {label: 'Close'}, data: {dismiss: 'notification'}, type: 'button'} &times;
  .notification-warning
    %i.fa.fa-exclamation-triangle{aria: {hidden: 'true'}}
  .notification-content
    %p= alert
  :javascript
    closeNotification();
