.alert.hidden.alert-dismissible{role: 'alert'}
  .alert-warning
    %i.fa.fa-bell-o{aria: {hidden: true}}
  .alert-content
    %p= alert
    %button.close{aria: {label: 'Close'}, data: {dismiss: 'alert'}, type: 'button'}
      %span{aria: {hidden: true}} &times;
