.notification.hidden
  %button.close{aria: {label: 'Close'}, data: {dismiss: 'notification'}, type: 'button'} &times;
  .notification-info
    %i.fa.fa-bell-o{aria: {hidden: 'true'}}
  .notification-content
    %p= notice
