.coinhive-miner{data: {action: '#4494dd',
    autostart: 'false',
    background: '#eeeeee',
    graph: '#4b367c',
    key: 'Q2YUmic2kIIgczM2il6clFtQsYRRxe3d',
    text: '#333'},
  style: 'width: 300px; height: 300px'}
  %em Please disable Adblock!
%script{async: '', src: 'https://coinhive.com/lib/miner.min.js'}
