<div class="site-main">
  <div class="site-banner">
    <h1>Subs and Bits Boss Battle</h1>
    <p>Let your subs and bit donators battle to become the new boss !</p>
    <div class="btn btn-primary">contact me</div>
  </div>
</div>
