<div class="site">
  <div class="site-main">
    <div class="site-banner">
      <h1>Subs and Bits Boss Battle</h1>
      <p>Let your subs and bit donators battle to become the new boss !</p>
      <div class="btn btn-primary">contact me</div>
      <%= link_to 'log in', new_user_session_path %>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
