:javascript

  App.cable.subscriptions.create(
    {
      channel: 'BossChannel',
      bot_id: #{@bot.id}
    },
    {
      connected: function(data) {
        console.log("[connected #{@bot.id}]");
      },
      received: function(data) {
        addToWaitlist(data);
      }
    }
  );

  $(document).ready(function() {
    createBossBars();
    initBossBars();
  });
