<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">
      <%= simple_form_for @bot do |f| %>
        <%= f.input :channel, required: true %>
        <%= f.submit 'Create bot', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
