<div class="show-wrapper">
  <%= render 'boss_card', bot: @bot %>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    var life_bar, heal_bar, damage_bar, shield_bar, shield_bar_bg;
    var waitList = [];

    App.cable.subscriptions.create(
      {
        channel: 'BossChannel',
        bot_id: <%= @bot.id %>
      },
      {
        connected: function(data) {
          console.log("<%= "[connected #{@bot.id}]" %>");
        },
        received: function(data) {
          console.log(data);
          waitList.unshift(data)
          updateBoss(data);
        }
      }
    );

    $(document).ready(function() {
      shield_bar_green_bg = new ProgressBar.Circle('#shield-circle', {
        strokeWidth: 11,
        color: '#018404'
      });

      shield_bar_bg = new ProgressBar.Circle('#shield-circle', {
        strokeWidth: 11,
        color: '#006d96'
      });

      shield_bar = new ProgressBar.Circle('#shield-circle', {
        strokeWidth: 11,
        color: '#00aeef'
      });

      damage_bar = new ProgressBar.Circle('#life-circle', {
        strokeWidth: 11,
        color: '#940000'
      });

      heal_bar = new ProgressBar.Circle('#life-circle', {
        strokeWidth: 11,
        color: '#0BC91D'
      });

      life_bar = new ProgressBar.Circle('#life-circle', {
        strokeWidth: 11,
        color: '#018404'
      });

      initBossBars();
    });
  </script>
<% end %>
