.modal.fade#subscriptionModal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'subscriptionModalLabel'}}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        = render 'sub_form'
