.subscription
  %p Monthly Subscription
= form_tag dashboard_subscriptions_path do
  %script.stripe-button{data: {amount: '499',
      currency: 'EUR',
      description: 'Monthly subscription',
      name: "#{current_user.username}",
      email: "#{current_user.email}",
      key: "#{Rails.configuration.stripe[:publishable_key]}",
      locale: 'auto'},
    src: "https://checkout.stripe.com/checkout.js"}
