.boss-card {
  display: flex;
  height: 230px;
  &-img {
    flex: 3;
    overflow: hidden;
    border-radius: 4px 4px 0 4px;
    #boss-avatar {
      min-height: 100%
    }
  }
  &-content {
    flex: 7;
    display: flex;
    flex-direction: column;
    &-top {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &-name {
       color: #333;
       p {
         margin: 0;
         font-size: 60px;
         font-weight: bold;
       }
      }
    }
    &-bottom {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      &-top {
        flex: 2;
        &-life {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0 4px 0 0;
          text-align: center;
          color: #ecf0f1;
          background: #c0392b;
          position: relative;
          overflow: hidden;
          p {
            margin: 0;
            font-size: 60px;
            width: 100%;
            z-index: 2;
          }
          &-current {
            position: absolute;
            height: 100%;
            background: #27ae60;
          }
        }
      }
      &-bottom {
        flex: 1;
        &-shield {
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0 0 4px 0;
          text-align: center;
          color: #ecf0f1;
          background: #34495e;
          position: relative;
          overflow: hidden;
          p {
            margin: 0;
            width: 100%;
            font-size: 30px;
            z-index: 2
          }
          &-current {
            position: absolute;
            height: 100%;
            background: #3498db;
          }
        }
      }
    }
  }
}
