.boss-wrapper {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}

.boss {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &-avatar {
    height: 79%;
    width: 79%;
    border-radius: 50%;
    background-size: cover;
    z-index: 6;
  }
  &-life-logo {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 6px solid #018404;
    top: 0px;
    left: -40px;
    z-index: 8;
    position: absolute;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-color: #0bc91d;
    font-size: 25px;
    font-family: $body-font;
    font-weight: bold;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-life-inner-border {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    z-index: 7;
    position: absolute;
    border: 6px solid #018404;
  }
  &-life-outter-border{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 6;
    position: absolute;
    background: transparent;
    border: 6px solid #018404;
  }
  &-life-fill {
    height: 99%;
    width: 99%;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    svg {
      position: absolute;
      transform: rotate3D(1,-1,0,180deg);
    }
  }
  &-life-bg {
    height: 99%;
    width: 99%;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    background: #2f4425;
  }
  &-life-text {
		font-size: 40px;
		color: #0BC91D;
		margin: -5px;
    font-family: $body-font;
    font-weight: bold;
	}

  &-shield-logo {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 6px solid #00aeef;
    top: 0px;
    left: -40px;
    z-index: 8;
    position: absolute;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-color: #006d96;
    font-size: 25px;
    font-family: $body-font;
    font-weight: bold;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-shield-inner-border {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    z-index: 7;
    position: absolute;
    border: 6px solid #00aeef;
  }
  &-shield-outter-border{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 6;
    position: absolute;
    background: transparent;
    border: 6px solid #00aeef;
  }
  &-shield-fill {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    background: #018404;
    svg {
      position: absolute;
      transform: rotate3D(1,-1,0,180deg);
    }
  }
  &-shield-bg {
    height: 99%;
    width: 99%;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    background: #018404;
  }
	&-name {
		font-size: 40px;
    color: #f4f4f4;
		margin: -10px;
    font-family: $body-font;
    font-weight: bold;
	}
	&-shield-text {
		font-size: 40px;
		color: #006d96;
		margin: -5px;
    font-family: $body-font;
    font-weight: bold;
	}
}
