$arrow-width: 10px;

.dashboard-navbar {
  background-color: #0a111d;
  color: #eeeeee;
  padding: 0;
  font-size: 1rem; /* 16/16 */
  &-tabs {
    .tab-link {
      padding: 10px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      border-left: 4px solid transparent;
      transition: all 0.25s ease;
      position: relative;
      &:hover {
        background-color: lighten(#0a111d, 10%);
        border-left: 4px solid rgba(#6a33f5, 0.50);
        cursor: pointer;
      }
      &.active{
        border-left: 4px solid #6a34f5;
        &:after {
          content: "";
          position: absolute;
          border-width: $arrow-width;
          border-style: solid;
          border-color: transparent;
          border-right-color: white;
          right: -$arrow-width * 2;
          top: 50%;
          right: 0;
          margin-top: -$arrow-width;
        }
      }
    }
  }
  &-status {
    padding: 0 14px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      margin: 0;
    }
    #mod {
      width: 16px;
    }
  }
}
