.dashboard {
  flex: 1;
  display: flex;
  &-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    .bot-show-link {
      flex: 1;
      padding: 10px 10px 0 10px;
    }
    .tab-content {
      display: none;
      flex: 9;
      padding: 0 10px 10px 10px;
      &.active {
        display: block;
      }
    }
  }
  &-boss {
    display: flex;
    justify-content: center;
  }
}
