.dashboard {
  flex: 1;
  display: flex;
  &-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    #bot-show-link {
      display: none;
      flex: 1;
      padding: 10px 10px 0 10px;
      &.active {
        display: block;
      }
    }
    #goals-show-links {
      display: none;
      flex: 1;
      padding: 10px 10px 0 10px;
      &.active {
        display: block;
      }
    }
    .tab-content {
      display: none;
      flex: 9;
      padding: 0 10px 10px 10px;
      &.active {
        display: block;
      }
    }
  }
  &-boss {
    display: none;
    justify-content: center;
    &.active {
      display: flex;
    }
  }
}

.goals-container {
  flex-direction: column;
  &.active {
    display: flex !important;
  }
  .live-goals {
    flex: 2;
  }
  .goals-forms {
    flex: 4;
    .sub-goal-form {
    }
    .bits-goal-form {
    }
  }
  .old-goals {
    flex: 4;
  }
}
