#new-logs {
  min-width: 20px;
  padding: 0 2px;
  height: 20px;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #EE5F5B;
  position: absolute;
  right: 25px;
  top: 15px;
  color: $layout-text;
  display: flex;
  align-items: center;
  justify-content: center;
}
