.sub-form {
  display: flex;
  flex-direction: column;
  .form-group {
    margin-bottom: 0;
    position: relative;
    label {
      position: absolute;
      color: $red;
      font-size: 0.7rem;
      font-weight: 700;
    }
  }
  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    &:focus{
      border-bottom: 1px solid lighten($purple, 25%);
      box-shadow: none;
    }
    &::placeholder {
      color: #aab7c4;
    }
  }
  &-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &-user-infos {
    flex: 4;
    display: flex;
    flex-direction: column;
    &-top {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
    &-middle {
      flex: 1;
      padding: 10px 0;
    }
    &-bottom {
      flex: 1;
      padding: 10px 0;
    }
  }
  &-card-infos {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    &-top{
      flex: 1;
      position: relative;
      #card-input {
        display: flex;
        align-items: center;
        .brand {
          font-size: 1.3rem;
        }
        #card-number {
          flex: 1;
          height: 23px;
          margin-left: 5px;
        }
      }
      #card-number-error {
        position: absolute;
        color: $red;
        font-size: 0.7rem;
        font-weight: 700;
      }
    }
    &-bottom {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      margin-top: 5px;
      &-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        .expiry-container {
          margin-right: 5%;
          position: relative;
          #card-expiry-error {
            color: $red;
            font-size: 0.7rem;
            font-weight: 700;
            position: absolute;
          }
        }
      }
      &-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .cvc-container {
          margin-left: 5%;
          position: relative;
          #card-cvc-error {
            color: $red;
            font-size: 0.7rem;
            font-weight: 700;
            position: absolute;
          }
        }
      }
    }
  }
  &-submit {
    margin-top: 32px;
  }
}

.pac-container {
  z-index: 20;
}

.modal {
  z-index: 15;
}

.modal-backdrop {
  z-index: 10;
}
