#sub-goal-card.goal-card{data: {current: goal ? goal.current : 0, required: goal ? goal.required : 0}}
= content_for :after_js do
  :javascript
    App.cable.subscriptions.create(
      {
        channel: 'SubGoalChannel',
        user_id: #{goal ? goal.user.id : current_user.id}
      },
      {
        connected: function(data) {
          console.log("[connected sub #{goal ? goal.user.id : current_user.id}]");
        },
        received: function(data) {
          if (data.deleted) {
            resetSubGoal();
          } else {
            updateSubGoal(data);
          }
        }
      }
    );

    $(document).ready(function() {
      initSubGoalBar();
    });
