#sub-goal-card.goal-card{data: {current: goal.current, required: goal.required}}
= content_for :after_js do
  :javascript
    App.cable.subscriptions.create(
      {
        channel: 'SubGoalChannel',
        user_id: #{goal.user.id}
      },
      {
        connected: function(data) {
          console.log("[connected sub #{goal.user.id}]");
        },
        received: function(data) {
          updateSubGoal(data);
        }
      }
    );

    $(document).ready(function() {
      initSubGoalBar();
    });
