.live-goals
  .live-sub-goal
  .live-bits-goal
.goals-forms
  .sub-goal-form
    - if sub_goal.present?
      = render 'dashboard/goals/edit', goal: sub_goal
    - else
      = link_to 'Create new Sub goal', dashboard_goals_new_sub_goal_path, remote: true, class: 'btn btn-primary'
  .bits-goal-form
    - if bits_goal.present?
      = render 'dashboard/goals/edit', goal: bits_goal
    - else
      = link_to 'Create new Bits goal', dashboard_goals_new_bits_goal_path, remote: true, class: 'btn btn-primary'
.old-goals
  .old-sub-goals
  .old-bits-goals
