.live-goals
  .live-sub-goal
  .live-bits-goal
  %hr
.goals-forms
  .sub-goal-form
    = render 'dashboard/goals/sub_goal_form', sub_goal: sub_goal
  .bits-goal-form
    = render 'dashboard/goals/bits_goal_form', bits_goal: bits_goal
.old-goals
  %hr
  .old-sub-goals
  .old-bits-goals
