// Graphical variables
@import "config/variables";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";

// External libraries
@import "bootstrap";
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "vendor/*";
@import "layouts/*";
@import "components/*";
@import "pages/*";


.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: theme-color('danger');
  }

  .form-control {
    border-color: theme-color('danger');
  }
}

body {
  background: transparent;
}
