.log
  %strong [#{display_log_created_at(log, user)}]
  .log-bits
    %p
      %strong
        %i.fa.fa-dollar
      %strong= log.username
      just donated
      %strong= log.bits_amount
      bits !
