.log
  %strong [#{display_log_created_at(log, user)}]
  .log-new-boss
    %p
      %strong
        %i.fa.fa-exclamation
      %strong= log.boss_name
      is the new boss !
      %span.log-boss-status (#{log.boss_current_hp}/#{log.boss_max_hp})
