.log
  %strong [#{display_log_created_at(log, user)}]
  .log-prime
    %p
      %strong
        %i.fa.fa-dollar
      %strong= log.username
      just subscribed with
      %strong Amazon Prime
      !
