.log
  %strong [#{display_log_created_at(log, user)}]
  .log-prime
    %p
      %strong
        %i.fa.fa-dollar
      %strong= log.username
      just resubscribed with
      %strong Amazon Prime
      for
      %strong #{log.month} months
      in a row !
